03_N8N/workflows/WORKFLOW_V3.json
{
  "name": "Vitreflam SAV Chatbot V3 - Oliver (Optimized)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vitreflam-sav-v3",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"},
              {"name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS"},
              {"name": "Access-Control-Allow-Headers", "value": "Content-Type"}
            ]
          }
        }
      },
      "id": "webhook-001",
      "name": "1. Webhook SAV",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "vitreflam-sav-v3"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// =====================================================\n// ETAPE 2: VALIDATION & EXTRACTION\n// Valide les donnees et extrait les infos cles\n// =====================================================\n\nconst webhook = $input.first().json;\nconst body = webhook.body || {};\n\n// Extraction des donnees\nconst email = (body.email || '').trim().toLowerCase();\nconst message = (body.message || '').trim();\nconst sessionId = body.session_id || null;\nconst conversationHistory = body.conversation_history || [];\n\n// Validation email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst isValidEmail = emailRegex.test(email);\n\nif (!isValidEmail || !message) {\n  return [{\n    json: {\n      error: true,\n      errorMessage: !isValidEmail ? 'Email invalide' : 'Message vide',\n      shouldRespond: true\n    }\n  }];\n}\n\n// Detection d'intent simple (pour routage)\nconst messageLower = message.toLowerCase();\nlet detectedIntent = 'general';\nlet urgency = 'normal';\n\n// Detection intent\nif (messageLower.includes('cass') && messageLower.includes('livr')) {\n  detectedIntent = 'casse_transport';\n  urgency = 'high';\n} else if (messageLower.includes('cass') && messageLower.includes('mont')) {\n  detectedIntent = 'casse_montage';\n  urgency = 'high';\n} else if (messageLower.includes('cass')) {\n  detectedIntent = 'casse_general';\n  urgency = 'high';\n} else if (messageLower.includes('dimension') || messageLower.includes('taille') || messageLower.includes('mesure')) {\n  detectedIntent = 'dimensions';\n} else if (messageLower.includes('suivi') || messageLower.includes('commande') || messageLower.includes('livraison')) {\n  detectedIntent = 'suivi';\n} else if (messageLower.includes('rembours') || messageLower.includes('avoir')) {\n  detectedIntent = 'remboursement';\n} else if (messageLower.includes('assurance')) {\n  detectedIntent = 'assurance';\n}\n\n// Extraction numero de commande si present\nconst commandeMatch = message.match(/\\b(\\d{5,6})\\b/);\nconst commandeId = commandeMatch ? commandeMatch[1] : null;\n\n// Compter les messages pour savoir si on doit resumer\nconst messageCount = conversationHistory.length;\nconst shouldSummarize = messageCount >= 10;\n\nreturn [{\n  json: {\n    error: false,\n    email,\n    message,\n    sessionId,\n    conversationHistory,\n    detectedIntent,\n    urgency,\n    commandeId,\n    messageCount,\n    shouldSummarize,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-002",
      "name": "2. Validate & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-error-003",
      "name": "3. Check Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/upsert_client",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_email\": {{ JSON.stringify($('2. Validate & Extract').item.json.email) }}\n}",
        "options": {}
      },
      "id": "upsert-client-004",
      "name": "4. Upsert Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_client_context_v3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_email\": {{ JSON.stringify($('2. Validate & Extract').item.json.email) }}\n}",
        "options": {}
      },
      "id": "get-context-005",
      "name": "5. Get Client Context V3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($('2. Validate & Extract').item.json.message) }}\n}",
        "options": {}
      },
      "id": "generate-embedding-006",
      "name": "6. Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/hybrid_search_knowledge",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_text\": {{ JSON.stringify($('2. Validate & Extract').item.json.message) }},\n  \"query_embedding\": {{ JSON.stringify($('6. Generate Embedding').item.json.data[0].embedding) }},\n  \"match_count\": 5,\n  \"semantic_weight\": 0.7,\n  \"keyword_weight\": 0.3\n}",
        "options": {}
      },
      "id": "hybrid-search-007",
      "name": "7. Hybrid Search KB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('2. Validate & Extract').item.json.detectedIntent }}",
              "operation": "contains",
              "value2": "casse"
            }
          ]
        }
      },
      "id": "check-assurance-needed-008",
      "name": "8. Need Assurance Check?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/check_client_assurance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_client_email\": {{ JSON.stringify($('2. Validate & Extract').item.json.email) }},\n  \"p_commande_id\": {{ JSON.stringify($('2. Validate & Extract').item.json.commandeId || '') }},\n  \"p_type_assurance\": {{ $('2. Validate & Extract').item.json.detectedIntent === 'casse_transport' ? '\"transport\"' : '\"montage\"' }}\n}",
        "options": {}
      },
      "id": "check-assurance-009",
      "name": "9. Check Assurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// =====================================================\n// ETAPE 10: BUILD CONTEXT & PROMPT\n// Construit le prompt optimise avec tout le contexte\n// =====================================================\n\n// Recuperer toutes les donnees\nconst validatedData = $('2. Validate & Extract').first().json;\nconst clientContext = $('5. Get Client Context V3').first().json || {};\nconst searchResults = $('7. Hybrid Search KB').all() || [];\n\n// Verifier si on a des infos d'assurance\nlet assuranceInfo = null;\ntry {\n  const assuranceCheck = $('9. Check Assurance').first();\n  if (assuranceCheck && assuranceCheck.json) {\n    assuranceInfo = assuranceCheck.json;\n  }\n} catch (e) {\n  // Pas de check assurance effectue\n}\n\n// Construire le contexte knowledge base\nlet knowledgeContext = '';\nif (searchResults.length > 0) {\n  knowledgeContext = '\\n## CONNAISSANCES PERTINENTES\\n';\n  for (const result of searchResults) {\n    if (result.json && result.json.contenu) {\n      knowledgeContext += `- [${result.json.categorie}] ${result.json.contenu}\\n`;\n    }\n  }\n}\n\n// Construire le contexte client\nlet clientInfo = '';\nif (clientContext.found) {\n  const c = clientContext.client || {};\n  clientInfo = `\\n## CONTEXTE CLIENT\\n`;\n  clientInfo += `- Client: ${c.prenom || ''} ${c.nom || ''} (${c.email})\\n`;\n  clientInfo += `- Segment: ${c.segment || 'nouveau'} | Risk Score: ${c.risk_score || 0}/100\\n`;\n  clientInfo += `- Historique: ${c.nb_commandes || 0} commandes, ${c.nb_incidents || 0} incidents\\n`;\n  \n  if (c.notes) {\n    clientInfo += `- Notes SAV: ${c.notes}\\n`;\n  }\n  \n  // Assurances actives\n  if (clientContext.assurances_actives && clientContext.assurances_actives.length > 0) {\n    clientInfo += `\\n### ASSURANCES ACTIVES:\\n`;\n    for (const a of clientContext.assurances_actives) {\n      clientInfo += `- Commande ${a.commande_id}: ${a.type} `;\n      if (a.type === 'transport' || a.type === 'both') {\n        clientInfo += `(transport expire: ${a.transport_expire}) `;\n      }\n      if (a.type === 'montage' || a.type === 'both') {\n        clientInfo += `(montage expire: ${a.montage_expire}) `;\n      }\n      clientInfo += a.utilisee ? '[DEJA UTILISEE]' : '[DISPONIBLE]';\n      clientInfo += '\\n';\n    }\n  }\n  \n  // Incidents ouverts\n  if (clientContext.incidents_ouverts && clientContext.incidents_ouverts.length > 0) {\n    clientInfo += `\\n### INCIDENTS EN COURS:\\n`;\n    for (const i of clientContext.incidents_ouverts) {\n      clientInfo += `- ${i.type} (commande ${i.commande}) - Statut: ${i.statut}\\n`;\n    }\n  }\n  \n  // Commandes recentes\n  if (clientContext.commandes_recentes && clientContext.commandes_recentes.length > 0) {\n    clientInfo += `\\n### COMMANDES RECENTES:\\n`;\n    for (const cmd of clientContext.commandes_recentes) {\n      clientInfo += `- ${cmd.commande_id}: ${cmd.produit || 'Verre'}\\n`;\n      clientInfo += `  Livraison: ${cmd.date_livraison || 'N/A'}\\n`;\n      clientInfo += `  Assurance transport: ${cmd.assurance_transport ? 'OUI' : 'NON'}\\n`;\n      clientInfo += `  Assurance montage: ${cmd.assurance_montage ? 'OUI' : 'NON'}\\n`;\n    }\n  }\n}\n\n// Info assurance specifique pour cet incident\nlet assuranceContext = '';\nif (assuranceInfo) {\n  assuranceContext = `\\n## VERIFICATION ASSURANCE POUR CET INCIDENT\\n`;\n  if (assuranceInfo.has_assurance) {\n    assuranceContext += `- Assurance trouvee: OUI\\n`;\n    assuranceContext += `- Dans les delais: ${assuranceInfo.is_within_deadline ? 'OUI' : 'NON (EXPIRE)'}\\n`;\n    assuranceContext += `- Date limite: ${assuranceInfo.deadline}\\n`;\n    assuranceContext += `- Deja utilisee: ${assuranceInfo.already_used ? 'OUI (ne peut plus etre utilisee)' : 'NON (disponible)'}\\n`;\n  } else {\n    assuranceContext += `- Assurance trouvee: NON\\n`;\n    assuranceContext += `- Le client n'a PAS souscrit d'assurance pour cette commande\\n`;\n  }\n}\n\n// Construire l'historique de conversation (optimise)\nlet conversationHistory = validatedData.conversationHistory || [];\nlet messages = [];\n\n// Si trop de messages, on garde les 6 derniers\nif (conversationHistory.length > 6) {\n  // Prendre les 6 derniers messages\n  const recentMessages = conversationHistory.slice(-6);\n  messages = recentMessages.map(m => ({\n    role: m.role,\n    content: m.content\n  }));\n} else {\n  messages = conversationHistory.map(m => ({\n    role: m.role,\n    content: m.content\n  }));\n}\n\n// Si pas de messages, ajouter le message actuel\nif (messages.length === 0 || messages[messages.length - 1].content !== validatedData.message) {\n  messages.push({\n    role: 'user',\n    content: validatedData.message\n  });\n}\n\n// =====================================================\n// SYSTEM PROMPT V3 - OPTIMISE\n// =====================================================\nconst systemPrompt = `Tu es Oliver, conseiller SAV chez Vitreflam (verre ceramique sur-mesure pour cheminees/poeles depuis 1985).\n\n## TA MISSION\nGerer le Service Apres-Vente: suivi commandes, incidents, casse, dimensions.\nTu n'es PAS la pour aider a passer commande.\n\n## REGLES DE COMMUNICATION\n1. **2-3 phrases MAX** par reponse. Direct et concis.\n2. **UNE question a la fois** si besoin d'info.\n3. Utilise **gras** pour les infos cles.\n4. Vouvoie TOUJOURS. Pas d'emojis.\n5. Francais uniquement.\n6. Pas de \"Bonjour\" si conversation deja en cours.\n\n## PRODUIT VITREFLAM\n- **Verre ceramique uniquement** (800°C max) - PAS de verre trempe\n- Dimensions en **millimetres (mm)**\n- Sur-mesure = **PAS de retractation** (Art. L.221-28)\n- Pas de percage en atelier\n\n## ASSURANCES - REGLES STRICTES\n\n### TRANSPORT (delai: 2 JOURS apres livraison)\n- AVEC assurance + dans delai → Demander photos → Remplacement (1x max)\n- SANS assurance → Rediriger vers Colissimo: https://aide.laposte.fr/contact/colissimo\n- HORS DELAI → Trop tard, proposer remise 30%\n\n### MONTAGE (delai: 8 JOURS apres livraison)\n- AVEC assurance + dans delai → Demander photos → Remplacement (1x max)\n- SANS assurance → Proposer remise 30% sur nouvelle commande\n- Cause probable: pattes trop serrees ou porte vrilee\n\n## STRATEGIE\n1. **Toujours verifier** si assurance + dans les delais\n2. **Sans assurance ou hors delai** = PAS de remplacement gratuit\n3. **Maximum remise**: 30% sur nouvelle commande ou 15€ remboursement vitrier\n4. **Rester poli mais ferme** sur les CGV\n\n## GESTES COMMERCIAUX (LIMITES)\n- Retard 3-5j: 5%\n- Retard >5j: 10%\n- Max sans escalade: 15%\n- Remise incident: 30% sur nouvelle commande\n- Vitrier local: 15€ max\n- Frais renvoi: 12-15€ a charge client\n\n## ESCALADE\nSi client insiste ou cas complexe:\n→ \"Je transmets votre dossier a notre service commercial.\"\n→ Email: contactglassgroup@gmail.com\n\n## DELAIS\n- Fabrication: 5-7 jours ouvres\n- Livraison: 2-5 jours apres expedition\n- Franco de port: 150€\n\n## CONTACT RETOUR\nSarl Cosse & Co, La Rafette, 27 rue Gutenberg, 33450 Saint Loubes, FRANCE\n${clientInfo}\n${assuranceContext}\n${knowledgeContext}\n\n---\nIntent detecte: ${validatedData.detectedIntent}\nUrgence: ${validatedData.urgency}\n${validatedData.commandeId ? 'Commande mentionnee: ' + validatedData.commandeId : ''}`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    messages,\n    userEmail: validatedData.email,\n    sessionId: validatedData.sessionId,\n    detectedIntent: validatedData.detectedIntent,\n    hasAssurance: assuranceInfo?.has_assurance || false,\n    isWithinDeadline: assuranceInfo?.is_within_deadline || false,\n    clientSegment: clientContext?.client?.segment || 'nouveau',\n    messageCount: validatedData.messageCount\n  }\n}];"
      },
      "id": "build-prompt-010",
      "name": "10. Build Context & Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-claude-011",
      "name": "11. Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// =====================================================\n// ETAPE 12: PROCESS RESPONSE\n// Traite la reponse et prepare les donnees a sauvegarder\n// =====================================================\n\nconst claudeResponse = $input.first().json;\nconst promptData = $('10. Build Context & Prompt').first().json;\nconst validatedData = $('2. Validate & Extract').first().json;\n\n// Extraire la reponse\nlet responseText = '';\nif (claudeResponse.content && claudeResponse.content[0]) {\n  responseText = claudeResponse.content[0].text;\n}\n\n// Calculer les tokens utilises\nconst inputTokens = claudeResponse.usage?.input_tokens || 0;\nconst outputTokens = claudeResponse.usage?.output_tokens || 0;\nconst totalTokens = inputTokens + outputTokens;\n\n// Generer session_id si pas existant\nconst sessionId = promptData.sessionId || require('crypto').randomUUID();\n\nreturn [{\n  json: {\n    response: responseText,\n    sessionId,\n    status: 'success',\n    metadata: {\n      intent: validatedData.detectedIntent,\n      hasAssurance: promptData.hasAssurance,\n      isWithinDeadline: promptData.isWithinDeadline,\n      clientSegment: promptData.clientSegment,\n      tokensUsed: totalTokens,\n      messageCount: promptData.messageCount + 1\n    },\n    // Pour sauvegarde DB\n    toSave: {\n      email: validatedData.email,\n      userMessage: validatedData.message,\n      assistantResponse: responseText,\n      intent: validatedData.detectedIntent,\n      tokensUsed: totalTokens,\n      sessionId\n    }\n  }\n}];"
      },
      "id": "process-response-012",
      "name": "12. Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"conversation_id\": null,\n    \"role\": \"user\",\n    \"contenu\": {{ JSON.stringify($json.toSave.userMessage) }},\n    \"intent_detecte\": {{ JSON.stringify($json.toSave.intent) }},\n    \"tokens_count\": 0\n  },\n  {\n    \"conversation_id\": null,\n    \"role\": \"assistant\",\n    \"contenu\": {{ JSON.stringify($json.toSave.assistantResponse) }},\n    \"tokens_count\": {{ $json.toSave.tokensUsed }}\n  }\n]",
        "options": {}
      },
      "id": "save-messages-013",
      "name": "13. Save Messages (Async)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 400],
      "onError": "continueRegularOutput",
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": {{ JSON.stringify($('12. Process Response').item.json.response) }},\n  \"session_id\": {{ JSON.stringify($('12. Process Response').item.json.sessionId) }},\n  \"status\": \"success\",\n  \"metadata\": {{ JSON.stringify($('12. Process Response').item.json.metadata) }}\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      },
      "id": "respond-success-014",
      "name": "14. Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"Desolee, une erreur s'est produite. Veuillez reessayer ou nous contacter a contactglassgroup@gmail.com\",\n  \"status\": \"error\",\n  \"error\": {{ JSON.stringify($json.errorMessage || 'Erreur inconnue') }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error-015",
      "name": "15. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// No assurance check needed - just pass through\nreturn [{ json: { assurance_skipped: true } }];"
      },
      "id": "skip-assurance-016",
      "name": "16. Skip Assurance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "1. Webhook SAV": {
      "main": [[{"node": "2. Validate & Extract", "type": "main", "index": 0}]]
    },
    "2. Validate & Extract": {
      "main": [[{"node": "3. Check Error", "type": "main", "index": 0}]]
    },
    "3. Check Error": {
      "main": [
        [{"node": "15. Respond Error", "type": "main", "index": 0}],
        [{"node": "4. Upsert Client", "type": "main", "index": 0}]
      ]
    },
    "4. Upsert Client": {
      "main": [[
        {"node": "5. Get Client Context V3", "type": "main", "index": 0},
        {"node": "6. Generate Embedding", "type": "main", "index": 0}
      ]]
    },
    "5. Get Client Context V3": {
      "main": [[{"node": "8. Need Assurance Check?", "type": "main", "index": 0}]]
    },
    "6. Generate Embedding": {
      "main": [[{"node": "7. Hybrid Search KB", "type": "main", "index": 0}]]
    },
    "7. Hybrid Search KB": {
      "main": [[{"node": "10. Build Context & Prompt", "type": "main", "index": 0}]]
    },
    "8. Need Assurance Check?": {
      "main": [
        [{"node": "9. Check Assurance", "type": "main", "index": 0}],
        [{"node": "16. Skip Assurance", "type": "main", "index": 0}]
      ]
    },
    "9. Check Assurance": {
      "main": [[{"node": "10. Build Context & Prompt", "type": "main", "index": 0}]]
    },
    "16. Skip Assurance": {
      "main": [[{"node": "10. Build Context & Prompt", "type": "main", "index": 0}]]
    },
    "10. Build Context & Prompt": {
      "main": [[{"node": "11. Call Claude API", "type": "main", "index": 0}]]
    },
    "11. Call Claude API": {
      "main": [[{"node": "12. Process Response", "type": "main", "index": 0}]]
    },
    "12. Process Response": {
      "main": [[
        {"node": "14. Respond Success", "type": "main", "index": 0},
        {"node": "13. Save Messages (Async)", "type": "main", "index": 0}
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["vitreflam", "sav", "chatbot", "v3"]
}
