03_N8N/workflows/WORKFLOW_V4_NATIVE.json
{
  "name": "Vitreflam SAV Chatbot V4 - Oliver (Native Nodes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vitreflam-sav-v4",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"},
              {"name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS"},
              {"name": "Access-Control-Allow-Headers", "value": "Content-Type"}
            ]
          }
        }
      },
      "id": "webhook",
      "name": "1. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "vitreflam-sav-v4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-valid",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "regex",
                "rightType": "string"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate",
      "name": "2. Valider Email",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "clients",
        "conflictColumns": ["email"],
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "email",
              "fieldValue": "={{ $json.body.email.toLowerCase().trim() }}"
            },
            {
              "fieldName": "derniere_interaction",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "upsert-client",
      "name": "3. Upsert Client",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [600, 400],
      "credentials": {
        "supabaseApi": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "Supabase Vitreflam"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "clients",
        "filters": {
          "conditions": [
            {
              "column": "email",
              "condition": "eq",
              "value": "={{ $('1. Webhook').item.json.body.email.toLowerCase().trim() }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "get-client",
      "name": "4. Get Client Info",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [800, 400],
      "credentials": {
        "supabaseApi": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "Supabase Vitreflam"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('1. Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "Tu es Oliver, conseiller SAV chez Vitreflam (verre ceramique sur-mesure pour cheminees/poeles depuis 1985).\n\n## TA MISSION\nGerer le Service Apres-Vente: suivi commandes, incidents, casse, dimensions.\nTu n'es PAS la pour aider a passer commande.\n\n## CONTEXTE CLIENT\n- Email: {{ $('4. Get Client Info').item.json.email || 'Nouveau client' }}\n- Segment: {{ $('4. Get Client Info').item.json.segment || 'nouveau' }}\n- Commandes: {{ $('4. Get Client Info').item.json.nb_commandes || 0 }}\n- Incidents: {{ $('4. Get Client Info').item.json.nb_incidents || 0 }}\n- Notes: {{ $('4. Get Client Info').item.json.notes_importantes || 'Aucune' }}\n\n## REGLES DE COMMUNICATION\n1. 2-3 phrases MAX par reponse. Direct et concis.\n2. UNE question a la fois si besoin d'info.\n3. Utilise **gras** pour les infos cles.\n4. Vouvoie TOUJOURS. Pas d'emojis.\n5. Francais uniquement.\n\n## PRODUIT VITREFLAM\n- Verre ceramique uniquement (800 degres C max) - PAS de verre trempe\n- Dimensions en millimetres (mm)\n- Sur-mesure = PAS de retractation (Art. L.221-28)\n\n## ASSURANCES - REGLES STRICTES\n\n### TRANSPORT (delai: 2 JOURS apres livraison)\n- AVEC assurance + dans delai: Demander photos, remplacement gratuit (1x max)\n- SANS assurance: Rediriger vers Colissimo https://aide.laposte.fr/contact/colissimo\n- HORS DELAI: Proposer remise 30%\n\n### MONTAGE (delai: 8 JOURS apres livraison)\n- AVEC assurance + dans delai: Demander photos, remplacement gratuit (1x max)\n- SANS assurance: Proposer remise 30% sur nouvelle commande\n\n## GESTES COMMERCIAUX (LIMITES)\n- Retard 3-5j: 5%\n- Retard >5j: 10%\n- Max sans escalade: 15%\n- Remise incident: 30% sur nouvelle commande\n- Vitrier local: 15 euros max\n\n## ESCALADE\nSi client insiste: \"Je transmets votre dossier a notre service commercial.\"\nEmail: contactglassgroup@gmail.com\n\n## DELAIS\n- Fabrication: 5-7 jours ouvres\n- Livraison: 2-5 jours apres expedition\n- Franco de port: 150 euros\n\n## CONTACT RETOUR\nSarl Cosse & Co, La Rafette, 27 rue Gutenberg, 33450 Saint Loubes, FRANCE"
        }
      },
      "id": "ai-agent",
      "name": "5. AI Agent Oliver",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.3
        }
      },
      "id": "anthropic-model",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1000, 600],
      "credentials": {
        "anthropicApi": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "openai-embeddings",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1200, 700],
      "credentials": {
        "openAiApi": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "tableName": "knowledge_base",
        "queryName": "match_knowledge",
        "topK": 5,
        "options": {}
      },
      "id": "vector-store",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [1200, 600],
      "credentials": {
        "supabaseApi": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "Supabase Vitreflam"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('1. Webhook').item.json.body.session_id || $('1. Webhook').item.json.body.email }}",
        "contextWindowLength": 6
      },
      "id": "memory",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [800, 600]
    },
    {
      "parameters": {
        "name": "recherche_knowledge_base",
        "description": "Recherche dans la base de connaissances Vitreflam pour trouver les procedures SAV, regles d'assurance, informations produits et politiques commerciales."
      },
      "id": "tool-retriever",
      "name": "Tool: Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [1000, 700]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "role",
              "fieldValue": "user"
            },
            {
              "fieldName": "contenu",
              "fieldValue": "={{ $('1. Webhook').item.json.body.message }}"
            }
          ]
        }
      },
      "id": "save-user-msg",
      "name": "6. Save User Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1200, 300],
      "credentials": {
        "supabaseApi": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "Supabase Vitreflam"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldName": "contenu",
              "fieldValue": "={{ $('5. AI Agent Oliver').item.json.output }}"
            }
          ]
        }
      },
      "id": "save-assistant-msg",
      "name": "7. Save Assistant Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 400],
      "credentials": {
        "supabaseApi": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "Supabase Vitreflam"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": {{ JSON.stringify($('5. AI Agent Oliver').item.json.output) }},\n  \"session_id\": {{ JSON.stringify($('1. Webhook').item.json.body.session_id || $('1. Webhook').item.json.body.email) }},\n  \"status\": \"success\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "8. Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"Email invalide ou message vide. Veuillez reessayer.\",\n  \"status\": \"error\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Erreur Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [400, 600]
    }
  ],
  "connections": {
    "1. Webhook": {
      "main": [
        [
          {"node": "2. Valider Email", "type": "main", "index": 0}
        ]
      ]
    },
    "2. Valider Email": {
      "main": [
        [
          {"node": "3. Upsert Client", "type": "main", "index": 0}
        ]
      ],
      "reject": [
        [
          {"node": "Erreur Validation", "type": "main", "index": 0}
        ]
      ]
    },
    "3. Upsert Client": {
      "main": [
        [
          {"node": "4. Get Client Info", "type": "main", "index": 0}
        ]
      ]
    },
    "4. Get Client Info": {
      "main": [
        [
          {"node": "5. AI Agent Oliver", "type": "main", "index": 0},
          {"node": "6. Save User Message", "type": "main", "index": 0}
        ]
      ]
    },
    "5. AI Agent Oliver": {
      "main": [
        [
          {"node": "7. Save Assistant Message", "type": "main", "index": 0},
          {"node": "8. Repondre", "type": "main", "index": 0}
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {"node": "5. AI Agent Oliver", "type": "ai_languageModel", "index": 0}
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {"node": "5. AI Agent Oliver", "type": "ai_memory", "index": 0}
        ]
      ]
    },
    "Tool: Knowledge Base": {
      "ai_tool": [
        [
          {"node": "5. AI Agent Oliver", "type": "ai_tool", "index": 0}
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {"node": "Supabase Vector Store", "type": "ai_embedding", "index": 0}
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {"node": "Tool: Knowledge Base", "type": "ai_vectorStore", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["vitreflam", "sav", "chatbot", "v4", "native"]
}
